@import url("https://fonts.googleapis.com/css?family=Gloria+Hallelujah|Indie+Flower|Poiret+One|Shadows+Into+Light|Source+Sans+Pro:200,300,400,600,700,900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: #103c42;
}

body {
  max-width: 1500px;
  width: 100%;
  margin: auto;
  font-family: "Poiret One", cursive;
}

// HEADER COMPONENT
.Header {
  margin: 16vh 50px 50px 50px;
  color: #fff;

  h1 {
    font-weight: 300;
    font-size: 50px;
    margin-bottom: 12vh;
  }

  h2 {
    font-weight: 300;
    font-size: 45px;
    max-width: 900px;
    margin-bottom: 12vh;
    line-height: 1.5;
  }

  p {
    font-size: 30px;
    margin-bottom: 30vh;
    a {
      text-decoration: none;
      color: #05a19c;
      transition: 0.3s ease-in-out all;

      &:hover {
        border-bottom: 1px solid #05a19c;
      }
    }
  }
}

@media only screen and (max-width: 1024px) {
  .Header {
    h1 {
      font-size: 45px;
    }

    h2 {
      font-size: 40px;
    }

    p {
      font-size: 22px;
    }
  }
}

@media only screen and (max-width: 768px) {
  .Header {
    h1 {
      font-size: 41px;
    }

    h2 {
      font-size: 36px;
    }

    p {
      font-size: 22px;
    }
  }
}

@media only screen and (max-width: 500px) {
  .Header {
    h1 {
      font-size: 37px;
    }

    h2 {
      font-size: 32px;
    }

    p {
      font-size: 22px;
    }
  }
}
// BACKGROUND COMPONENT
